* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #fff;
}

.sec-nav-bar {
  background-color: #f7f9fe; /* Light bluish background */
  padding: 20px 0;
  margin-top: 0px;
  position: relative;
}

.sec-nav-list {
  display: flex;
  justify-content: center;
  list-style: none;
}

.sec-nav-item {
  margin: 0 15px;
  text-align: center;
}

.sec-nav-item button {
  cursor: pointer;
  background-color: #f7f9fe; /* Light bluish background */
  border: none;
}








.sec-nav-link {
  text-decoration: none;
  color: #555; /* Dark gray for text */
  font-size: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; /* Center content vertically */
  padding: 15px; /* Add padding to increase clickable area */
  width: 100%; /* Make it fill the container width */
  height: 100%; /* Make it fill the container height */
  transition: color 0.3s ease;
}

.sec-nav-link i {
  font-size: 24px;
  margin-bottom: 8px;
  color: #555;
}

.sec-nav-link:hover {
  color: #000; /* Change text and icon color on hover */
  text-decoration: underline;
}



.sec-selected::after {
  content: "";
  display: block;
  width: 60%;
  height: 3px;
  background-color: #0026ff; /* Blue underline for selected */
  margin: 8px auto 0;
  border-radius: 2px;
}





