a{
  color: #1542f8 ;
  text-decoration: underline ;
}


.modal {
  display: none; 
  position: fixed; 
  z-index: 1; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  justify-content: center;
  align-items: center;
}

.modal-content {
  background-color: #fff;
  padding: 80px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px;
  width: 90%;
  position: relative;
}

.modal-header {
  font-weight: bold;
  font-size: 24px;
  color: #0066cc;
}

.modal-body {
  margin-top: 15px;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

.modal-footer {
  margin-top: 40px;
}

.close-btn {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 28px;
  color: #999;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

.ok-btn {
  background-color: #0066cc;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  font-size: 16px;
  width: 150px;
}

.ok-btn:hover {
  background-color: #004a99;
}

.advertisor{
  text-align: right;
  margin-right: 20%;
  margin-top: 40px;
  text-decoration: underline;
  font-weight: lighter;
}

.progress-container {

  width: 60%;
  background-color: #e5ecfd;
  border-radius: 25px;
  height: 20px;
  margin: 20px auto;
}

/* Progress Bar (the part that fills up) */
.progress-bar {
  height: 100%;
  width: 20%; /* Initial width */
  background-color: #001f70; /* Dark blue */
  border-radius: 25px;
  transition: width 0.5s ease-in-out; /* Smooth animation */
}

.text-container{
  text-align: center;
  font-family: 'Sofia Pro', Arial, sans-serif;
}

.text-container p{
  color: #969595;
  
}

/* Container for the form */
.form-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50%; /* Adjust as needed */
  margin: 10px auto;
}


/* Individual form groups */
.form-group {
  display: flex;
  flex-direction: column;
  width: 48%; /* Ensures equal width for both input fields */
}

.gray-star{
  position: relative;
  color: #ccc; /* Gray color for the half star (background) */
}


/* Label styling */
.form-group label {
  margin-bottom: 8px;
  margin-right: 250px;
  font-size: 16px;
  color: #001f70; /* Dark blue text color */
}

/* Input field styling */
.input-field {
  padding: 10px;
  border: 1px solid #001f70; /* Dark blue border */
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
}



.input-field:focus {
  border-color: #001f70; /* Keeps the dark blue border on focus */
}

.next-button{
  margin-top: 25px;
  text-align: center;
}

.next-button button{
  cursor: pointer;
  height: 50px;
  width: 20%;
  background-color: #1542f8;
  color: white;
  font-weight: bold;
  font-size: 16px;
  

}

.next-button button:hover{

  background-color: #1035c7;
  


}

.features-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  text-align: center;
  background-color: #f9fbfd;
  margin-top: 50px;
}

.feature {
  max-width: 300px;
}

.feature-icon {
  width: 90px;
  height: auto;
  margin-top: 30px;
}

.feature-icon-three {
  width: 55px;
  height: auto;
  margin-top: 60px;
}

h3 {
  font-size: 1.2em;
  margin: 10px 0;
}

p {
  font-size: 1em;
  color: #666;
}

.brands-section {
  text-align: center;
  padding: 40px 0;
}

.brands-section h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
}

.brands-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* This creates 3 equal columns */
  grid-gap: 40px; /* Space between the items */
  justify-items: center; /* Center the logos horizontally */
  align-items: center; /* Align the logos vertically */
}

.brands-container img {
  max-width: 200px; /* Adjust the size of logos */
  margin: 0;
}

/* Quiz Sections */
.quiz-section {
  display: none;
}

#section1 {
  display: block; /* The first section should be visible initially */
}

.section{
  display: none;
}

/* Container for the form */
.form-container-sectiontwo {
  display: flex;
  flex-direction: column;
  width: 50%; /* Adjust as needed */
  margin: 20px auto;
}

/* Individual form groups */
.form-group-sectiontwo {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

/* Row layout for City, State, and ZIP */
.form-row-sectiontwo {
  display: flex;
  justify-content: space-between;
  gap: 30px; /* Adds space between fields */
}

/* Label styling */
.form-group-sectiontwo label {
  margin-bottom: 8px;
  margin-left: 10px;
  width: 100%;
  font-size: 16px;
  color: #001f70; /* Dark blue text color */
  text-align: left;
}

/* Input field styling */
.input-field-sectiontwo {
  
  padding: 10px;
  border: 1px solid #001f70; /* Dark blue border */
  border-radius: 4px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s ease;
  width: 100%;
  margin: 10px;
}

/* Ensure equal width for City, State, and ZIP */
.form-row-sectiontwo .form-group-sectiontwo {
  flex: 1;
}

/* Control spacing between City, State, and ZIP fields */
.form-row-sectiontwo .form-group-sectiontwo:not(:last-child) {
  margin-right: 10px;
}




/* Styling for the header */
.header-sectionthree {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #001f70; /* Dark blue text color */
  margin-bottom: 20px;
}

.button-container-sectionthree {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two columns */
  gap: 20px;
  width: 60%; /* Adjust width as needed */
  margin: 20px auto; /* Center the container */
}

/* Individual button styling */
.button-sectionthree {
  padding: 20px;
  border: 2px solid #001f70; /* Dark blue border */
  border-radius: 8px;
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.button-sectionthree:hover {
  background-color: #f0f0f0; /* Hover effect */
}


/* Section 4: Annual Income */
.sectionfour {
  text-align: center;
  margin-top: 30px;
}

/* Form group styling */
.form-group-sectionfour {
  margin: 20px auto;
  width: 80%; /* Adjust width as needed */
  max-width: 500px; /* Limit maximum width */
}


.form-group-sectionfour label{
  text-align: left;
  margin-right: 380px;
  font-size: 14px;
  font-weight: lighter;
  color: #969595;
}

.form-group-sectionfive {
  margin: 20px auto;
  width: 80%; /* Adjust width as needed */
  max-width: 500px; /* Limit maximum width */
}

.form-group-sectionfive label{
  text-align: left;
  margin-right: 340px;
  font-size: 14px;
  font-weight: lighter;
  color: #969595;
}


.form-group-sectionseven {
  margin: 20px auto;
  width: 80%; /* Adjust width as needed */
  max-width: 500px; /* Limit maximum width */
}

.form-group-sectionseven label{
  text-align: left;
  margin-right: 400px;
  font-size: 14px;
  font-weight: lighter;
  color: #969595;
}



/* Input wrapper to hold the dollar sign and input field */
.input-wrapper-sectionfour {
  display: flex;
  align-items: center;
  border: 2px solid #001f70; /* Dark blue border */
  border-radius: 6px;
  padding: 10px;
}

/* Dollar sign styling */
.dollar-sign-sectionfour {
  font-size: 24px;
  color: #001f70; /* Dark blue */
  padding-right: 10px;
}

/* Input field styling */
.input-field-sectionfour {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1; /* Allow input field to grow */
  padding: 5px;
}

/* Info text styling */
.info-text-sectionfour {
  margin-top: 10px;
  font-size: 14px;
  color: #333;
}



.secure-icon {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust spacing from the right edge */
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  color: #666;
  font-size: 14px;
}

.secure-icon i {
  margin-right: 5px; /* Space between icon and text */
  font-size: 16px;
}


.blue-box-container{
  background-color: rgb(218, 233, 239);
  font-size: 14px;
  padding: 10px;
  
}
.blue-box-container p{
  color: #333;
 
  
}

.button-container {
  display: flex;
  justify-content: center; /* Keeps the Advertiser Disclosure centered */
  align-items: center;
  position: relative; /* To use for positioning absolute elements */
  width: 100%;
}

.advertisor {
  margin-left: 800px;
}

.go-back-button {
  position: absolute; /* Makes positioning relative to the button-container */
  left: 300px; /* Adjust as needed to move the button to the right */
  bottom: 20px; /* Adjust as needed to move the button lower */
}

.go-back-button a {
  padding: 10px 20px;
  color: black;
  text-decoration: underline;
  border-radius: 5px;
  font-size: 14px;
  transition: background-color 0.3s ease;
  cursor: pointer;
}




.modal-two {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-content-two {
  background-color: white;
  margin: 10% auto;
  padding: 20px;
  border-radius: 5px;
  width: 60%;
  position: relative;
  line-height: 1.333;
}

.modal-content-two h2{
  color: #1542f8;
}

.modal-content-two p{
  color: #333;
}

.close-btn-two {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  font-size: 24px;
}

.modal-footer-two {
  text-align: left;
  padding-top: 20px;
  color: #333;
  
}

.modal-footer-two  input{
  height: 20px;
  width: 20px;
  margin-top: 10px;
}

.modal-footer-two button{
  margin-top: 30px;
}

.submit-btn-two {
  background-color: gray;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  cursor: not-allowed;
  width: 200px;
  height: 40px;
}

.submit-btn-two.active {
  background-color: #1542f8;
  cursor: pointer;
}














@media (max-width: 768px) {
  .brands-container {
    grid-template-columns: repeat(2, 1fr); /* Show 2 logos per row on smaller screens */
  }

  .brands-container img {
    max-width: 120px; /* Smaller logo size on smaller screens */
  }
}

@media (max-width: 480px) {
  .brands-container {
    grid-template-columns: 1fr; /* Show one logo per row on very small screens */
  }

  .brands-container img {
    max-width: 100px;
  }
}
