body{
  scroll-behavior: smooth;
}



.panel {
  margin-top: 10%;
  margin-left: 4% ;
  min-width: 200px;   /* Minimum width for the panel */
  max-width: 300px;   /* Maximum width for the panel */
  margin-right: 20px; /* Add space between the panel and the heading */
}

.panel h3{
  font-size: 18px;
}

.panel ul {
  list-style-type: none; /* Removes the bullet points */
  padding: 0;            /* Removes default padding on the <ul> */
  margin: 10px;          /* Adds margin around the <ul> */
}

.panel ul li {
  margin-bottom: 0px; /* Adds space between list items */
}

.panel ul li:hover,
.panel ul li:focus-within {
  background-color: rgb(236, 234, 234); /* Highlight the entire list item on hover or focus */
  width: 100%;
}

.panel a {
  text-decoration: none;
  font-size: 17px;
  display: block;       /* Makes the <a> fill the entire <li> container */
  padding: 10px;        /* Adds padding to make the link area larger */
  white-space: nowrap;  /* Prevents text wrapping */
  color: #666;
  font-weight: lighter;
}

.panel a:hover {
  text-decoration: underline; /* Underline the text on hover */
}

.panel a:focus,
.panel a:active {
  border-left: 4px solid blue;      /* Adds a border on the left side */
  background-color: rgb(236, 234, 234); /* Keeps the background consistent */
  color: #000;                    /* Change text color to make it stand out */
}






